body
{
	color: black;
	font-family: 'Texturina', serif;
}
.form-group
{
	font-size: 20px;
	font-weight: 400;
}

.form-inline:hover
{
	opacity: 80%;
}
.navbar li
{
	padding-left: 15px;
}
h5
{
	color:antiquewhite;
	font-weight: 900;
	font-size: 20px;
}
.row a
{
	font-size: 15px;
}
input, textarea: hover
{
	border:1px solid red;
    box-shadow: 0 0 10px #719ECE;	
}
.footer
{
	padding: 20px 0px;
	text-align: center;
	background-color: black;	
}
.footer a
{
	color: white;
	font-style: italic;
}
.fa {
  border-radius: 20px;
  padding-top: 3px;
  width: 40px;
	height: 42px;
  align-content: center;
  text-decoration: none;
  margin:0px auto;
	background: white;
	color: black;
}
.text-center i
{
	padding-top: 0.25em;
	font-size: 30px;
	align-items: center;
	margin: 0px auto;
}

.fa:hover
{
	opacity: 90%;
}
.footer .row .col-sm-12
{
	padding-top: 25px;
}
@media (max-width:800px)
{
	.list li, .list h5 {
	text-align: center;
	}
	.navbar-nav li
	{
		float:left;
	}
	.footer .list a
	{
		text-align: center;
	}
	.navbar
	{
		opacity: 100%;
	}
}


